<div [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <app-textbox-question *ngSwitchCase="'textbox'"
                          [formGroup]="form"
                          [question]="question"></app-textbox-question>

    <!-- <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select> -->

    <app-drop-down-question *ngSwitchCase="'dropdown'"
                            [formGroup]="form"
                            [question]="question"></app-drop-down-question>

    <mat-radio-group *ngSwitchCase="'radio'" [id]="question.key" [formControlName]="question.key">
      <mat-radio-button *ngFor="let opt of question.options" [value]="opt.value">{{ opt.key }}</mat-radio-button>
    </mat-radio-group>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>
